.footer{
  background-color: var(--bg-secondary);
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--text-primary);
  border-top: 1px solid var(--border-color);
}
.footerLinks a {
  margin: 0 0.5rem;
  color: var(--text-accent);
  text-decoration: none;
}
.footerLinks a:hover{
  text-decoration: underline;
}