.header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a { 
  color: #61dafb;
  margin-left: 1rem;
  text-decoration: none;
}
.nav a:hover{
  text-decoration: underline;
}

.toggleThemeButton {
  background: none;
  border: none;
  color: #61dafb; /* Same as nav links */
  cursor: pointer;
  font-size: 1.2rem; /* Make icon slightly larger */
  margin-left: 1rem;
  padding: 0.25rem;
}

.toggleThemeButton:hover {
  color: white; /* Make it white on hover */
}