.header {
  background-color: var(--bg-secondary);
  padding: 1rem;
  color: var(--text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a { 
  color: var(--text-primary);
  margin-left: 1rem;
  text-decoration: none;
}
.nav a:hover{
  text-decoration: underline;
}

.activeLink {
  text-decoration: underline;
  font-weight: 600;
}

.toggleThemeButton {
  background: none;
  border: none;
  color: var(--text-primary); /* Same as nav links */
  cursor: pointer;
  font-size: 1.2rem; /* Make icon slightly larger */
  margin-left: 1rem;
  padding: 0.25rem;
}

.toggleThemeButton:hover {
  color: var(--text-primary); /* Make it white on hover */
}